a {
    color: inherit; /* Initial color of the link */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

a:hover {
    color: #542f10; /* Change font color to white on hover */
}

div:hover {
    color: #542f10;
}
